BACKEND_API_URL=https://localhost:7288
BACKEND_TLS_REJECT_UNAUTHORIZED=false
OPENAPI_URL=https://localhost:7288/swagger/v1/swagger.json
SESSION_COOKIE_SECRET=replace-with-at-least-32-random-characters
NEXT_PUBLIC_GOOGLE_CLIENT_ID=954043942395-ngi5lnbk6qe50rqmompn3u0mtailbhia.apps.googleusercontent.com
NEXT_PUBLIC_ENABLE_DEV_LOGIN=false
